In [ ]:
class DataScience():
    def __init__(self):
        pass

    def agrupar_dados(self, data, coluna):
        return data.groupby(coluna).sum()
    
    def rankear_valores():
        pass

    def entender_dados(self, data):
        print(data.head())
        print(data.describe())
        print(data.info())
        print(data.columns)
        print(data.isnull().sum())

    def juntar_dataframes_colunaID(self, df1, df2, id):
        return pd.merge(df1, df2, on=id)

    def renomear_colunas(self, data, colunas):
        return data.rename(columns=colunas)

In [56]:
import pandas as pd
import numpy as np 


data = pd.read_csv("/home/pedrov/Documentos/GitHub/Engenharia-Eletrica-UFF/Jedi Cyberpunk 2024/Ciencia de dados/data google analysis/Free_Code_Camp_Material-main/calories (1).csv")
time_id = pd.read_csv("/home/pedrov/Documentos/GitHub/Engenharia-Eletrica-UFF/Jedi Cyberpunk 2024/Ciencia de dados/data google analysis/Free_Code_Camp_Material-main/time_day (1).csv")

dsa = DataScience()
dsa.entender_dados(data)
dsa.entender_dados(time_id)

new_df = dsa.juntar_dataframes_colunaID(data,time_id,id =["TimeId","timeId"])

Colunas =   Index(['Item', 'TimeId', 'Calories', 'Date New'], dtype='object')

          Item  TimeId  Calories  Date New
0         Dosa     1.0     400.0  1/1/2024
1  Corn Flakes     1.0     250.0  1/1/2024
2  Sambar Rice     2.0     220.0  1/1/2024
3    Curd Rice     2.0     380.0  1/1/2024
4   Potato Fry     2.0     250.0  1/1/2024

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Item      114 non-null    object
 1   TimeId    114 non-null    float64
 2   Calories  114 non-null    float64
 3   Date New  114 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.7+ KB
Colunas =   Index(['timeId', 'time'], dtype='object')

   timeId       time
0       1  Breakfast
1       2      Lunch
2       3      Snack
3       4     Dinner

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   timeId  4 non-null      int64
 1   time    4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [57]:
#data[]